# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.ServerApp.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Dev\SportStore\ServerApp\.idea\.idea.ServerApp.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
